body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.weather-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  box-sizing: border-box;
}

.weather-card,
.weather-row {
  background-color: #222831;
  border-radius: 12px;
  padding: 1rem;
}

.weather-card {
  grid-column: span 2;
}

.weather-card .location {
  font-size: 1.5rem;
  font-weight: bold;
  color: #08d9d6;
}

.weather-card .date-time {
  font-size: 1.2rem;
  color: #08d9d6;
}

.weather-row {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

.weather-row div {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.weather-row div * {
  margin: 1rem;
  color: #eeeeee;
}

.weather-row div span {
  color: #08d9d6;
}

@media screen and (max-width: 712px) {
  .weather-dashboard {
    grid-template-columns: 1fr;
  }
  .weather-card {
    grid-column: span 1;
  }
}
