body {
  font-family: "Roboto", sans-serif;
  background-color: #14171c;
  color: #eee;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  /*background-image: url('./bkg.svg');*/
  background-position: center;
  background-repeat: no-repeat;
}

.weather-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  box-sizing: border-box;
}

.weather-card,
.weather-row {
  background-color: #1c1f24;
  border-radius: 12px;
  padding: 1rem;
}

.weather-card {
  grid-column: span 2;
}

.weather-card label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #eee;
}

.weather-card input#city-choice {
  display: block;
  width: 95%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #2ffffc;
  background-color: #1c1f24;
  font-size: 1.2rem;
  color: #eee;
}

.weather-card input[type="submit"] {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #2ffffc;
  background-color: #252a34;
  color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
}

.weather-card .location {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eee;
}

.weather-card .date-time {
  font-size: 1.2rem;
  color: #eee;
}

.weather-row {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

.weather-row div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.weather-row div * {
  margin: 0;
  color: #eee;
  padding-right: 8px;
}

.weather-row div span {
  color: #2ffffc;
}

@media screen and (max-width: 712px) {
  .weather-dashboard {
    grid-template-columns: 1fr;
  }
  .weather-card {
    grid-column: span 1;
  }
}
